<div id="Restaurants Selection">
  <h5>Choose a menu item!</h5>
</div>

<div class="row">
  <% @restaurant.meals.each do |meal| %>
    <div class="col-md-4">
      <div class="card">
        <% if meal.image.present? %>
          <%= image_tag(meal.image , class: "card-img-top") %>
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= meal.name %></h5>
          <p class="card-text"><%= meal.price_format %></p>
        </div>
        </div>
    </div>
  <% end %>
</div>