.signup {
  text-align: center;
}
.restaurants {
  text-align: center;
}

.signup_restaurant {
  text-align: center;
  border-right: 5px solid black;
  height: 600px;
  width: 40%;
  margin-left: 50px;
  float: left;
}

.signup_customer {
  text-align: center !important;
}
